camera:
	position: 0.0; 0.0; 15.0
	lookAt: 0.0; 0.0; 0.0
	up: 0.0; 1.0; 0.0

object:
	type: PLANE
	name: Plane
	position: 0.0; -3.0; 0.0
	rotation: 0.0; 1.0; 0.0
	color: 0.5; 0.5; 0.5
	radius: 0.000000
	kspec: 0.000000
	kdiff: 1.000000
	csgOperation: 0

object:
	type: SPHERE
	name: Sphere
	position: 2.0; 0.0; 0.0
	rotation: 0.0; 0.0; 0.0
	color: 0.9; 0.1; 0.9
	radius: 2900.000000
	kspec: 1.000000
	kdiff: 1.000000
	csgOperation: 0

object:
	type: LIGHT
	name: Light
	position: 40.0; 20.0; 20.0
	rotation: 0.0; 0.0; 0.0
	color: 0.0; 0.0; 0.0
	radius: 0.000000
	kspec: 0.000000
	kdiff: 0.000000
	csgOperation: 0

object:
	type: LIGHT
	name: Light
	position: 20.0; 20.0; 20.0
	rotation: 0.0; 0.0; 0.0
	color: 0.0; 0.0; 0.0
	radius: 0.000000
	kspec: 0.000000
	kdiff: 0.000000
	csgOperation: 0

object:
	type: LIGHT
	name: Light
	position: 10.0; 20.0; 20.0
	rotation: 0.0; 0.0; 0.0
	color: 0.0; 0.0; 0.0
	radius: 0.000000
	kspec: 0.000000
	kdiff: 0.000000
	csgOperation: 0

