camera:
	position: 1.0; 0.0; 12.0
	lookAt: 2.0; 0.0; 0.0
	up: 0.0; 1.0; 0.0

object:
	type: SPHERE
	name: Sphere
	position: 0.0; 0.0; 0.0
	rotation: 0.0; 0.0; 0.0
	color: 0.0; 0.0; 1.0
	radius: 50.000000
	kspec: 1.000000
	kdiff: 1.000000
	csgOperation: 0
	file: (null)

object:
	type: (null)
	name: Light
	position: 0.0; 0.0; 7.0
	rotation: 0.0; 0.0; 0.0
	color: 0.0; 0.0; 0.0
	radius: 0.000000
	kspec: 0.000000
	kdiff: 0.000000
	csgOperation: 0
	file: (null)

