camera:
	position: 0; 0; 7
	lookAt: 0; 0; 0

object:
	type: EMPTY
	name: Les objets

	object:
		type: PLANE
		name: Background
		rotation: 0;0;1;
		position: 0;0;-50
		color: 1;1;1
		kspec: 0

	object:
		type: PLANE
		name: Background left
		rotation: 1;0;0
		position: 8;0;0
		color: 0;1;1
		kspec: 0

	object:
		type: PLANE
		name: Background bottom
		rotation: 0;1;0
		position: 0;-3;0
		color: 1;0;1
		kspec: 0

	object:
		type: SPHERE
		name: First sphere
		position: -1;0;0
		color: 0;1;0
		radius: 150

	object:
		type: CONE
		name: First cone
		position: 0;1;-20
		rotation: 0.1;0.8;0.1
		color: 0;1;0
		radius: 0.95

	object:
		type: CYLINDER
		name: Cylinder near camera
		position: 1.0;-0.5;0
		rotation: 0;0;1
		color: 0;1;0
		radius: 30

	object:
		type: CSG
		name: the CSG
		csgOperation: -

		object:
			type: SPHERE
			name: Sphere csg
			radius: 100
			color: 0;0;1

		#object:
			#type: POLYGONS
			#name: Polygons csg
			#file: models/cube.obj
		object:
			type: SPHERE
			name: Sphere csg 2
			radius: 100;
			color: 1;0;0
			position: 0.5;0;0

object:
	name: The light
	type: LIGHT
	position: 0;0;7
